<%- include('partials/header') %>

    <p>Bonny Woods</p>
    <p>Intro: By day I administer systems, by night I put kids to bed.</p>
    <p>Hobbies: Gardening, breaking up fights between my kids.</p>
<%- include('partials/footer') %>