<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="<%= bodyClass %>">
    <header>
        <%- greeting %>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/catalog">Course Catalog</a></li>
          <li><a href="/departments">Departments Catalog</a></li>
          <li><a href="/faculty">Faculty</a></li>
          <li><a href="/demo">Middleware Demo</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
